!includedir /etc/mysql/conf.d/

[mysqld]
server-id=1
gtid-mode=ON
enforce-gtid-consistency=ON
default-storage-engine=INNODB

log-bin=mysql-bin
innodb_flush_log_at_trx_commit = 2
max_connections = 1000
expire_logs_days = 7
slow_query_log = ON
long_query_time = 3

user=mysql
bind-address = 0.0.0.0
port=3306
character-set-client-handshake=FALSE
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
init_connect='SET NAMES utf8mb4'
secure-file-priv=

[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4


