<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:p="http://www.springframework.org/schema/p"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:lang="http://www.springframework.org/schema/lang"
        xmlns:util="http://www.springframework.org/schema/util"
        xmlns:tool="http://www.springframework.org/schema/tool"
        xmlns:jee="http://www.springframework.org/schema/jee"
        xmlns:jdbc="http://www.springframework.org/schema/jdbc"
        xmlns:mvc="http://www.springframework.org/schema/mvc"
        xmlns:cache="http://www.springframework.org/schema/cache"

        xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd"
        >


    <beans profile="dev">
        <!-- 加载properties配置文件 以便 spring配置内value属性值可以使用 ${property-name} 符号来动态加载配置 -->
        <bean p:location="classpath:dev/jdbc-config.properties"
              class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"/>
    </beans>

    <beans profile="prod">
        <!-- 加载properties配置文件 以便 spring配置内value属性值可以使用 ${property-name} 符号来动态加载配置 -->
        <bean p:location="classpath:prod/jdbc-config.properties"
              class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"/>
    </beans>

    <beans profile="test">
        <!-- 加载properties配置文件 以便 spring配置内value属性值可以使用 ${property-name} 符号来动态加载配置 -->
        <bean p:location="classpath:test/jdbc-config.properties"
              class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"/>
    </beans>

</beans>
