<?xml version="1.0" encoding="utf-8"?>

<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:p="http://www.springframework.org/schema/p"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:lang="http://www.springframework.org/schema/lang"
        xmlns:util="http://www.springframework.org/schema/util"
        xmlns:tool="http://www.springframework.org/schema/tool"
        xmlns:jee="http://www.springframework.org/schema/jee"
        xmlns:jdbc="http://www.springframework.org/schema/jdbc"
        xmlns:mvc="http://www.springframework.org/schema/mvc"
        xmlns:cache="http://www.springframework.org/schema/cache"

        xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd"
>

    <!--通用JPA配置文件-->
    <description>dao config</description>


    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"
          p:testWhileIdle="true" init-method="init" destroy-method="close">

        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="maxActive" value="30"/>
        <property name="initialSize" value="3"/>
        <property name="maxWait" value="60000"/>
        <property name="minIdle" value="5"/>
        <property name="removeAbandoned" value="true"/>
        <property name="removeAbandonedTimeout" value="360"/>
        <property name="connectionProperties" value="config.decrypt=true"/>
    </bean>

    <!--
        <bean id="dataSource" p:driverClassName="com.mysql.jdbc.Driver"
              p:url="${jdbc.url}" p:username="${jdbc.username}" p:password="${jdbc.password}"
              class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        </bean>-->


    <!-- 实体管理器 -->
    <!--    现有Spring4.2及以前的逻辑是默认从当前的系统中有查找到classpath*:META-INF/persistence.xml会优先加载使用
        packagesToScan扫描到的类都会归到默认的持久化单元,不会优先使用，参考类：DefaultPersistenceUnitManager

        如果要启用packagesToScan则可以故意设置找不到的文件,如：classpath:META-INF/persistence-*.xml

        一个entityManagerFactory只能对应一个PersistenceUnitInfo-->

    <bean id="entityManagerFactory"
          p:packagesToScan="com.levin.commons.dao.domain"
          p:dataSource-ref="dataSource"
          p:persistenceXmlLocation="classpath:META-INF/persistence-*.xml"
          class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">

        <!--这个属性会覆盖classpath*:META-INF/persistence.xml中的属性，优先级别比较高-->
        <property name="jpaPropertyMap">
            <map>
                <!--<entry key="hibernate.archive.autodetection" value="class,hbm"/>-->

                <entry key="hibernate.jdbc.fetch_size" value="512"/>
                <entry key="hibernate.jdbc.batch_size" value="256"/>

                <!-- 设置II级缓存供应商 -->
                <!--<entry key="hibernate.cache.provider_class" value="org.hibernate.cache.EhCacheProvider"/>-->
                <!--<entry key="hibernate.cache.region.factory_class"-->
                       <!--value="org.hibernate.cache.ehcache.EhCacheRegionFactory"/>-->

                <entry key="hibernate.cache.use_query_cache" value="true"/>
                <entry key="hibernate.cache.use_second_level_cache" value="true"/>
                <entry key="hibernate.cache.use_structured_entries" value="true"/>
                <entry key="hibernate.dialect.storage_engine" value="innodb"/>
            </map>
        </property>

        <!--这个属性会也会覆盖classpath*:META-INF/persistence.xml中的属性，优先级别比较高-->
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"
                  p:databasePlatform="org.hibernate.dialect.MySQL5InnoDBDialect"
                  p:generateDdl="true" p:showSql="true"/>
        </property>

    </bean>

    <!--事务管理器的默认名称请不要修改-->
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager"
          p:entityManagerFactory-ref="entityManagerFactory"/>


</beans>